//Globals
$primary-tile: #0D0303;
$second-title: #888888;
$highlight: #FF771D;
$medium-title: #5f5f5f;
$light-container: #FFFFFF;
$light-text: #FFFFFF;
$bg-shadow: rgba(214, 214, 214, 0.2);
$bg-shadow-enhanced: rgba(158, 158, 158, 0.2);

//Components
$header-bg: #FBFBFB;
$consultancy-bg: #FBFBFB;
$qualification-bg: #FFFFFF;
$suggestions-bg: #FBFBFB;
$contact-success: #00ad48;
$contact-error: #FC0007;
$contact-bg: #FBFBFB;
$footer-bg: #FBFBFB;
$modal-bg: #5f5f5f83;
$post-modal: #ffffffef;
