@import "./colors";

.consultancy-bg {
    background-color: $consultancy-bg;
    margin: 2em 0 0 0;
    width: 100%;
}

.consultancy-container h1 {
    color: $primary-tile;
    font-size: 2em;
    padding: 1.4em 1em 1.4em 1em;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.consultancy-item {
    background-color: $light-container;
    width: 19em;
    height: 19em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
}

.icon-bg {
    width: 5em;
    height: 5em;
    margin: 2em;
    background: #fbfbfb;
    background: -moz-radial-gradient(center, ellipse cover, #fbfbfb 1%, #f4f4f4 45%, #f4f4f4 45%, #d8d8d8 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fbfbfb 1%,#f4f4f4 45%,#f4f4f4 45%,#d8d8d8 100%);
    background: radial-gradient(ellipse at center, #fbfbfb 1%,#f4f4f4 45%,#f4f4f4 45%,#d8d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d8d8d8',GradientType=1 );
    border-radius: 50%;
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.service-icon {
    color: $primary-tile;
}

#abnt-icon {
    background-image: url('../../assets/icons/abnt1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 56px;
}

#lattes-icon {
    background-image: url('../../assets/icons/lattes1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 52px;
    height: 52px;
}

.consultancy-item:hover {
    box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
}

.consultancy-item:hover .icon-bg {
    background: #ff771d;
    background: -moz-radial-gradient(center, ellipse cover, #ff771d 53%, #de5900 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff771d 53%,#de5900 100%);
    background: radial-gradient(ellipse at center, #ff771d 53%,#de5900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#de5900',GradientType=1 );
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.consultancy-item:hover .service-icon {
    color: $light-text;
}

.consultancy-item:hover #abnt-icon {
    background-image: url('../../assets/icons/abnt2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 56px;
    height: 56px;
}

.consultancy-item:hover #lattes-icon {
    background-image: url('../../assets/icons/lattes2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 52px;
    height: 52px;
}

.consultancy-item:hover .service-description {
    color: $primary-tile;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

.service-description {
    color: $second-title;
    font-size: 1.3em;
    font-weight: 200;
    padding: 0 1.2em 0 1.2em;
    text-align: center;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

#qualificacoes{
    height: 2em;
}

@-webkit-keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
}
    
@keyframes zoomIn {
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
    }
} 

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 
