@import "./colors";

.return-top {
    width: 3.4em;
    height: 3.4em;
    z-index: 1;
    position: absolute;
    left: 50%;
    color: $primary-tile;
    transform: translate(-50%);
    background: #fbfbfb;
    background: -moz-radial-gradient(center, ellipse cover, #fbfbfb 1%, #f4f4f4 45%, #f4f4f4 45%, #d8d8d8 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #fbfbfb 1%,#f4f4f4 45%,#f4f4f4 45%,#d8d8d8 100%);
    background: radial-gradient(ellipse at center, #fbfbfb 1%,#f4f4f4 45%,#f4f4f4 45%,#d8d8d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#d8d8d8',GradientType=1 );
    border-radius: 50%;
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-top:hover {
    color: $light-text;
    background: #ff771d;
    background: -moz-radial-gradient(center, ellipse cover, #ff771d 53%, #de5900 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff771d 53%,#de5900 100%);
    background: radial-gradient(ellipse at center, #ff771d 53%,#de5900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#de5900',GradientType=1 );
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.footer-container {
    background-color: $footer-bg;
    position: relative;
    top: 26px;
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
}

.footer-links {
    display: flex;
    padding: 3em 1.6em 1.2em 1.6em;
    color: $primary-tile;
}

.footer-icon-bg {
    width: 3.4em;
    height: 3.4em;
    margin: 0.8em;
    border-radius: 50%;
    color: $primary-tile;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon-bg:hover {
    color: $light-text;
    background: #ff771d;
    background: -moz-radial-gradient(center, ellipse cover, #ff771d 53%, #de5900 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff771d 53%,#de5900 100%);
    background: radial-gradient(ellipse at center, #ff771d 53%,#de5900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#de5900',GradientType=1 );
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#footer-lattes-icon {
    background-image: url('../../assets/icons/lattes1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 42px;
    height: 42px;
}

.footer-icon-bg:hover #footer-lattes-icon {
    background-image: url('../../assets/icons/lattes2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 42px;
    height: 42px;
}

.footer-text {
    color: $primary-tile;
    padding: 0 1em 1em 1em;
    font-weight: 200;
    font-size: 1em;
}
