@import "./colors";

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
    .about-container {
        margin: 0 1.5em 0 1.5em;
    }

}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
    .photo-container {
        display: none !important;
    }

    .typing-text {
        flex-direction: column;
    }

    .mouse-icon {
        display: none;
    }

    .hand-icon {
        display: block !important;
    }

    .contact-input {
        min-width: 100%;
    }

    .contact-input-error {
        min-width: 100%;
    }

    .contact-input-message {
        min-width: 100%;
    }

    .contact-input-message-error {
        min-width: 100%;
    }

    .input-error {
        min-width: 100%;
    }
}

// Large devices (desktops, 992px and down)
@media (max-width: 992px) {
    .about-main h2 {
        font-size: 3.4vh !important;
    }

    .about-main h1 {
        font-size: 8.8vh !important;
    }

    .static-text {
        font-size: 3.6vh !important;
    }
    
    .Typewriter {
        font-size: 3.6vh !important;
    }

    .contact-bt-container a {
        font-size: 1.5em !important;
    }

    .qualification-item-odd {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .qualification-item-even {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .qualification-content-odd {
        text-align: center !important;
    }
     
    .qualification-content-even {
        text-align: center !important;
    }

    .modal-container {
        width: auto !important;
        padding: 1em !important;
    }

    .success-title {
        font-size: 1.3em !important;
    }

    .failure-title {
        font-size: 1.3em !important;
    }
}

// Extra large devices (large desktops, 1200px and down)
@media (max-width: 1200px) {
    .about-container {
        padding: 5em 0 0 0;
        height: 70vh !important;
        flex-direction: column;
    }

    .photo-container {
        justify-content: center !important;
        width: auto !important; 
    }

    .about-main h2, h1, div {
        text-align: center;
    }

    .typing-text {
        justify-content: center;
    }

    .contact-bt-container {
        height: 20vh !important;
    }
}

// Extra-extra large devices (1400px and down)
@media (max-width: 1400px) {
}
