@import "./colors";

.suggestions-bg {
    background-color: $suggestions-bg;
    width: 100%;
}

.suggestions-container h1 {
    color: $primary-tile;
    font-size: 2em;
    padding: 1.4em 1em 0.6em 1em;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.suggestions-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36em;
    padding: 0 2em 3em 2em;
    color: $second-title;
}

.suggestions-text h2 {
    margin: 1em;
    font-size: 1.5em;
    font-weight: 200;
}

.loading-error {
    height: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-error h2 {
    font-size: 1.5em;
    font-weight: 200;
    color: $primary-tile;
    margin: 1em 0 0.5em 0;
}

.loading-error p {
    font-size: 1.3em;
    font-weight: 200;
    color: $second-title;
}

.error-icon-suggestions {
    color: $primary-tile;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0 2em 0;
}

.styles-module_item-container__a8zaY {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow .right-arrow{
    color: $medium-title ;
}

.left-arrow:hover {
    cursor: pointer;
}

.right-arrow:hover {
    cursor: pointer;
}

.post-container {
    position: relative;
    width: 19em;
}

.post-image {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 2px 5px 2px $bg-shadow;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow;
}

.post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 1.2em 0 1.2em;
    background-color: $post-modal;
    color: $primary-tile;
    height: 0;
    transition: .5s ease;
    overflow-y: scroll;
}

.post-content::-webkit-scrollbar {
   width: 8px;
}

.post-container:hover .post-content {
    height: 100%;
    box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
    -webkit-box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
    -moz-box-shadow: 0px 2px 5px 2px $bg-shadow-enhanced;
}

.post-title h2 {
    padding: 1em 0 0.2em 0;
    font-size: 1.4em;
    font-weight: 300;
}

.post-title p {
    font-size: 1.1em;
    font-weight: 200;
    font-style: italic;
}

.post-description {
    font-size: 1em;
    font-weight: 200;
    text-align: justify;
}

#contato {
    height: 2em;
    background-color: transparent;
}
